.mainbody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clacbody{
    width: 400px;
    height: 500px;
    background-color: gray;
}

.answer{
    width: inherit;
    height: 100px;
    box-sizing: border-box;
    font-size: xx-large;
    text-align: right;
}

.mybtn{
    width: 100px;
    height: 100px;
    font-size: xx-large;
}
